# Ignore everything
*/*
*.*

# Except Source, Releases, .gitignores files, gradle, .github, README.md, LICENSE, .gradle files, property files, gradlew, and gradlew.bat
!src/*
!releases/*
!.gitignore
!*/.gitignore
!gradle/*
!.github/*
!README.md
!LICENSE
!*.gradle
!*.properties
!gradlew
!gradlew.bat

# .keep for things which should be kept which aren't listed here
!*.keep